<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- prettier-ignore -->
    {# Block for custom page specific meta tags #} 
    {% block head %}{% endblock head %}

    <link rel="stylesheet" href="{{site.cssPath}}}" />

    <title>Techtonauts - {{ title }}</title>
  </head>
  <body>
    <nav class="bg-[#1A2333] p-4 fixed w-full top-0 z-10">
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-2xl font-bold">
          Techtonauts <span class="text-[#A100FF]">🚀</span>
        </div>
        <div class="space-x-4">
          <a href="/" class="hover:text-[#00C4FF]">Home</a>
          <a href="/about" class="hover:text-[#00C4FF]">About</a>
          <a href="/services" class="hover:text-[#00C4FF]">Services</a>
          <a href="/portfolio" class="hover:text-[#00C4FF]">Portfolio</a>
          <a href="/contact" class="hover:text-[#00C4FF]">Contact</a>
        </div>
      </div>
    </nav>
    <!-- prettier-ignore -->
    <main class="pt-16">
      {{ content | safe }}
    </main>

    <footer class="bg-[#1A2333] py-8 text-center">
      <p>
        © 2025 Techtonauts.
        <a href="#" class="text-[#00C4FF] hover:text-[#A100FF]">Contact Us</a>
      </p>
    </footer>
  </body>
</html>
